includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    level: 5
    paths:
        - geotagr.php
        - uninstall.php
        - includes
    scanDirectories:
        - lib/plugin-update-checker
    excludePaths:
        - vendor
        - node_modules
        - build
        - tests
